<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header2'); %>
</header>

<main>
    <form action="/createbookingbutton" method="post">
        <div class="form-group">
            <label>Flight Number</label>
            <input type="text" class="form-control" name="Flight_number">
        </div>        
        <button type="submit" class="btn btn-warning btn-lg">Book Now</button>
    </form>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>

